<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div>
    <h1>Раздел</h1>
    <h2>Название раздела</h2>
    <form th:action="@{/tests/addPartition}" method="post">
    <input type="text" name="partition">
    <button class="btn btn-primary">Сохранить</button>
    </form>
    <a th:href="@{/admin}">
    <button class="btn btn-primary">Назад</button>
    </a>

</div>


</body>
</html>