<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Partition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
        <a th:href="@{/admin}" class="a-for-button-back">
            <button class="btn btn-primary ml-auto" >Вернуться на панель админа</button>
        </a>
    </div>
</header>
<div class="clone"></div>
<section class="learning-html">
    <div class="content">
        <div class="block-statistics">
            <div class="block-statistics-in">
                <form th:action="@{/tests/addPartition}" method="post">
                    <div class="top-block-statistics">
                        <h1>Добавление раздела</h1>
                        <a class="a-btn-add">
                            <button  class="btn btn-primary">Добавить раздел</button>
                        </a>
                    </div>
                    <div class="description-h2">
                        <h2 class="p-info">Пожалуйста, введите название раздела в текстовое поле ниже.</h2>
                        <h2 class="p-info">Раздел — это учебный модуль, который охватывает определённую тему или набор тем в учебной программе. Например, разделами могут быть: </h2>
                        <ul type="disc">
                            <li class="p-info">Двудольные графы</li>
                            <li class="p-info">Полиномиальная теорема</li>
                            <li class="p-info">Рекуррентные уравнения и другое</li>
                        </ul>
                        <h2 class="p-info">Каждый раздел помогает структурировать процесс обучения, обеспечивая углубленное изучение конкретной области знаний.</h2>
                    </div>
                    <div class="div-for-input-partition">
                        <input type="text" name="partition" class="input-partition">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>