<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Questions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add Question</h1>
    <form id="questionForm" method="post" th:action="@{/tests/{testId}/addQuestion(testId = ${testId})}">
        <input type="hidden" id="testId">
        <div class="form-group">
            <label for="questionNumber">Question Number:</label>
            <input type="number" id="questionNumber" name="questionNumber" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="questionText">Question Text:</label>
            <textarea id="questionText" class="form-control" name="questionText" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="answerText">Answer:</label>
            <input type="text" id="answerText" name="answerText" class="form-control" required>
        </div>
        <button id="submitQuestion" class="btn btn-success">Submit Question</button>
    </form>
    <a th:href="@{/tests/{testId}/questionList(testId = ${testId})}">
        <button class="btn btn-primary">Назад</button>
    </a>
</div>
</body>
</html>