<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Questions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <script>
        $(document).ready(function () {
            $("#submitQuestions").click(function () {
                var testId = [[${testId}]];
                var questionsJson = $("#questionsJson").val();
                try {
                    JSON.parse(questionsJson); // Проверка на корректность JSON
                } catch (e) {
                    alert("Invalid JSON format");
                    return;
                }
                console.log("Submitting JSON: ", questionsJson);
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    type: "POST",
                    url: "/tests/addQuestions",
                    contentType: "application/json",
                    data: questionsJson,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("testId", testId);
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function (response) {
                        alert(response.message); // Assuming server returns { "message": "Questions added successfully" }
                        $("#questionsJson").val("");
                    },
                    error: function (xhr, status, error) {
                        console.log("Error status: ", status);
                        console.log("Error details: ", error);
                        alert("Error adding questions.");
                    },
                    dataType: "json"
                });
            });
        });
    </script>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
        <a th:href="@{/tests/{partitionId}(partitionId = ${partitionId})}" class="a-for-button-back">
            <button class="btn btn-primary ml-auto">Вернуться к списку тестов</button>
        </a>
    </div>
</header>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<div class="clone"></div>
<section class="learning-html">
    <div class="content">
        <div class="block-statistics">
            <div class="block-statistics-in">
                <div class="top-block-statistics">
                    <h1>Добавление вопросов</h1>
                    <a class="a-btn-add">
                        <button id="submitQuestions" class="btn btn-success">Добавить вопросы</button>
                    </a>
                </div>
                <div class="description-h2">
                    <h2 class="p-info">Пожалуйста, введите список вопросов в текстовое поле ниже в формате JSON. Пример:</h2>
                    <p class="p-info margin">[</p>
                    <p class="p-info margin">{</p>
                    <p class="p-info margin">&nbsp;"questionNumber" : "1",</p>
                    <p class="p-info margin">&nbsp;"questionText" : "Сколько будет 1+1?",</p>
                    <p class="p-info margin">&nbsp;"answerText" : "2"</p>
                    <p class="p-info margin">},</p>
                    <p class="p-info margin">{</p>
                    <p class="p-info margin">&nbsp;"questionNumber" : "1",</p>
                    <p class="p-info margin">&nbsp;"questionText" : "Сколько будет 1+2?",</p>
                    <p class="p-info margin">&nbsp;"answerText" : "3"</p>
                    <p class="p-info margin">}</p>
                    <p class="p-info margin">]</p>
                    <p></p>
                    <h2 class="p-info">Поле questionNumber определяет банк вопросов. Это означает, что если у двух вопросов указано одинаковое значение questionNumber, например, 1, как в примере выше, то студентам в качестве первого вопроса попадется один из двух вариантов первого вопроса.</h2>
                </div>
                <div class="div-for-add-question">
                    <div class="form-group-1">
                        <input type="hidden" id="testId" class="form-control" th:value="${testId}"/>
                    </div>
                    <div class="form-group-1">
                        <textarea id="questionsJson" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>