<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Student</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2>Добавление новой группы</h2>
  <form th:action="@{/admin/create/group}" method="post">
    <div class="form-group">
      <label for="groupname">Название</label>
      <input type="text" class="form-control" id="groupname" name="groupname" required>
    </div>
    <div class="form-group">
      <label for="groupNumber">Курс</label>
      <input type="number" class="form-control" id="groupNumber" name="groupNumber" required>
    </div>
    <button type="submit" class="btn btn-primary">Создать группу</button>
  </form>
  <br><br>
  <a th:href="@{/admin}">
    <button class="btn btn-success ml-auto" >Назад</button>
  </a>
</div>
</body>
</html>