<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
        <a th:href="@{/tests/{partitionId}(partitionId = ${partitionId})}" class="a-for-button-back">
            <button class="btn btn-secondary ml-auto" >Вернуться к списку тестов</button>
        </a>
    </div>
</header>
<div class="clone"></div>
<section class="learning-html">
    <div class="content">
        <div class="block-statistics">
            <div class="block-statistics-in">
                <div class="top-block-statistics">
                    <h1>Вопросы</h1>
                    <a th:href="@{/tests/{testId}/addQuestion(testId = ${testId})}" class="a-btn-add">
                        <button class="btn btn-success">Добавить вопрос</button>
                    </a>
                </div>
                <div class="scrollable-container">
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th class="p-info">Номер вопроса</th>
                            <th class="p-info">Текст вопроса</th>
                            <th class="p-info">Ответ</th>
                            <th class="p-info">Редактировать</th>
                            <th class="p-info">Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="p-info" th:each="question : ${questions}">
                            <td class="p-info" th:text="${question.questionNumber}"></td>
                            <td  class="p-info" th:text="${question.questionText}"></td>
                            <td  class="p-info" th:text="${question.answers.get(0).answerText}"></td>
                            <td class="p-info">
                                <form method="get" th:action="@{/tests/{testId}/updateQuestion/{questionId}(testId=${testId}, questionId=${question.id})}">
                                    <button class="btn btn-primary" >Редактировать</button>
                                </form>
                            </td>
                            <td class="p-info">
                                <form method="post" th:action="@{/tests/{testId}/deleteQuestion/{questionId}(testId=${testId}, questionId=${question.id})}">
                                    <button class="btn btn-danger" >Удалить вопрос</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>