<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты тестов</title>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <script th:src="@{/progress.js}" defer></script>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
        <a th:href="@{/admin}" class="a-for-button-back">
            <button class="btn btn-success ml-auto button-back-main" id="button-admin-back" >Назад</button>
        </a>
    </div>
</header>
<div class="clone"></div>
<section class="learning-html">
    <div class="content">
        <div class="block-statistics">
            <div class="block-statistics-in">
                <div class="top-block-statistics">
                    <h1>Модуль 1 <span>— Элементарная комбинаторика</span></h1>
                    <form th:action="@{/testResult/deleteResults/module{module}(module=1)}" method="post">
                        <div class="button-delete-data">
                            <select name="testNumber"  class="button-back-main" id="button-select">
                                <option  th:value= 1 >Урок 1</option>
                                <option th:value= 2>Урок 2</option>
                                <option th:value= 3>Урок 3</option>
                                <option th:value=4>Урок 4</option>
                            </select>

                            <input type="hidden" th:name="studentId" th:value="${studentId}" />
                            <button type="submit" class="button-back-main" id="delete-lesson-data">Удалить результаты</button>
                        </div>
                    </form>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod1" th:data-results-json="${module1Results}"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 2 <span>— Углубленные комбинаторные методы</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod2" th:data-results-json="${module2Results}"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 3 <span>— Основы теории графов</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod3" th:data-results-json="${module3Results}"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 4 <span>— Углубленные исследования теории графов</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod4" th:data-results-json="${module4Results}"></canvas>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
            <div class="content-all-tests">
                <div class="top-block-statistics">
                    <h1>Все результаты тестов</h1>
                </div>
                <div class="block-for-result">
                    <div th:each="testResult : ${testResults}" class="result-item">
                        <h2 th:text="'Тест: ' + ${testResult.test.module} + ' - ' + ${testResult.test.number}" class="h2-name-test"></h2>
                        <p th:text="'Дата прохождения: ' + ${testResult.startTime}" class="p-info"></p>
                        <p th:text="'Результат: ' + ${testResult.score} + ' из ' + ${testResult.questionSessions.size()}" class="p-info"></p>
                        <form th:action="@{/testResult/deleteResult}" method="post">
                            <input type="hidden" th:name="resultId" th:value="${testResult.id}" />
                            <input type="hidden" th:name="studentId" th:value="${testResult.student.id}" />
                            <button type="submit" class="button-back-main">Удалить</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>