<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты тестов</title>
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <link rel="stylesheet" th:href="@{/progressresult.css}"/>
    <script th:src="@{/progress.js}" defer></script>
</head>
<body>
<section class="learning-html">
    <div class="content">
        <div class="block-statistics">
            <div class="block-statistics-in">
                <div class="top-block-statistics">
                    <h1>Модуль 1 <span>— Элементарная комбинаторика</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod1"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 2 <span>— Углубленные комбинаторные методы</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod2"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 3 <span>— Основы теории графов</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod3"></canvas>
                </div>
                <div class="top-block-statistics">
                    <h1>Модуль 4 <span>— Углубленные исследования теории графов</span></h1>
                </div>
                <div class="block-for-items-acheive">
                    <canvas id="mod4"></canvas>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
            <div class="content-all-tests">
                <div class="top-block-statistics">
                    <h1>Все результаты тестов</h1>
                </div>
                <div th:each="testResult : ${testResults}" class="result-item">
                    <h2 th:text="'Тест: ' + ${testResult.test.module} + ' - ' + ${testResult.test.number}" class="h2-name-test"></h2>
                    <p th:text="'Дата прохождения: ' + ${testResult.startTime}" class="p-info"></p>
                    <p th:text="'Результат: ' + ${testResult.score} + ' из ' + ${testResult.questionSessions.size()}" class="p-info"></p>
                    <form th:action="@{/testResult/deleteResult}" method="post">
                        <input type="hidden" th:name="resultId" th:value="${testResult.id}" />
                        <input type="hidden" th:name="studentId" th:value="${testResult.student.id}" />
                        <button type="submit" class="button-back-main">Удалить</button>
                    </form>
                </div>
                <a th:href="@{/admin}">
                    <button class="btn btn-success ml-auto" >Назад</button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>