body {
    background-color: #1e2634;
    font-family: "mt-bold";
    margin: 0;
}
section{
    display: flex;
    justify-content: end;
}
.content{
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    align-items: center;
}
.block-profile{
    width: 80%;
    margin: 50px 0;
    background-color: #77CCDD;
    border-radius: 20px;
}
.block-profile-in{
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}
.block-info-profile{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}
.form-for-change-password{
    display: flex;
    flex-direction: column;
}
.left-block-info-profile h1{
    font-size: 26px;
}
.conteiner-info{
    display: flex;
    gap: 5%;
}
.data-left-block-info-profile{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.info h3{
    font-size: 20px;
    font-family: 'mt-regular';
    margin: 0;
}
.info-from-db h4{
    margin: 0;
    font-size: 20px;
}
.block-img-profile{
    border-left: solid 2px #54919D;;
    width: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20px;
}
.right-block-info-profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
}
.right-block-info-profile button h3{
    font-size: 18px;
    font-family: 'mt-regular';
    margin: 0;
    color: white;

}
.button-info{
    background-color: #5F3B91;
    border-radius: 11px;
    padding: calc(2px + 0.5vw) calc(4px + 1vw);
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    -webkit-tap-highlight-color: transparent;
    min-width: 195px;
    color: white;
    font-size: 17px;
    font-family: 'mt-bold';
    width: fit-content;
}
.button-info:hover{
    background-color: #6d4f96;
}
#cancel-password-btn{background-color: #FF5252; display: none; padding: calc(2px + 0.5vw) calc(25px + 1vw);}
#cancel-password-btn:hover{background-color: #E74949;}
#cancel-password-btn:active{transform: scale(0.98); box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); }
#safe-password-btn{background-color: #59C547; display: none; padding: calc(2px + 0.5vw) calc(25px + 1vw);}
#safe-password-btn:hover{background-color: #4EB23E;}
.left-block-info-profile button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.change-password{
    display: flex;
    flex-direction: column;
    display: none;
}
.error-message {
    color: red;
    opacity: 0;
    transform: translateY(20px);
    max-height: 0;
    transition: all 0.3s ease;
}
.change-password input{
    background-color: #77CCDD;
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
.password-control{
    font-size: 17px;
    text-decoration: underline;
    color: #5F3B91;
}
.change-password input::-webkit-input-placeholder {
    color: #1E1E1E;
}
.button-in-change-password{
    display: flex;
    margin-top: 21px;
    gap: 5%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Начнем анимацию с небольшого смещения вверх */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Завершим анимацию смещением вниз */
    }
}
/* Применим анимацию к блокам, которые будут появляться */
.block-info-profile, .change-password, #cancel-password-btn, #safe-password-btn, #change-password-btn, .data-left-block-info-profile, .top-block-achieve, .item-achieve, .block-img-profile img {
    animation: fadeIn 0.5s ease forwards; /* Применим анимацию появления с продолжительностью 0.5 секунды */
}

.block-achieve{
    width: 80%;
    background: rgba(119, 204, 221, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    margin-bottom: 20px;
}
.block-achieve-in{
    padding: 1.43vw 3.57vw;
}
.top-block-achieve{
    border-bottom: 2px solid white;
    margin-bottom: 4.29vw;
}
.top-block-achieve h1{
    font-size: 24px;
    color: white;
    margin-bottom: 13px;
}
.item-achieve{
    width: 48%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.description-item-achieve h3{
    font-size: 16px;
    color: white;
}
.description-item-achieve h4{
    font-family: 'mt-regular';
    font-size: 12px;
    color: white;
}
.block-for-items-acheive{
    display: flex;
    flex-wrap: wrap;
    gap: 1.43vw;
}

.item-achieve img {
    /*filter: grayscale(100%);*/
}
.error-message{
    color: red;
    font-family: 'mt-regular';
    font-size: 15px;
}
.change-password input, .error-message{
    width: calc(390px + 2%);
}
@media screen and (max-width: 1100px) {
    .info-from-db h4, .info h3, .right-block-info-profile button h3, .button-info, .error-message {
        font-size:calc(4px + 1.3vw);
    }
    .left-block-info-profile h1, .top-block-achieve h1{
        font-size:calc(5px + 2vw);
    }
}
@media screen and (max-width: 950px) {

    .description-item-achieve h3{font-size: calc(6px + 0.8vw);}
    .description-item-achieve h4{font-size: calc(5px + 0.8vw);}
}
@media screen and (max-width: 860px) {
    .ErrorMessage{
        font-size: calc(4px + 0.8vw);
    }
    .change-password input, .error-message{
        font-size: 12px;
        padding: 7px;
    }
    .password-control{
        font-size: 12px;
    }
    .right-block-info-profile{
        width: 90%;
        justify-content: space-between;
    }
    .block-img-profile{
        display: none;
    }
    .block-profile-in{
        padding: 0 40px;
    }
    .block-info-profile{
        width: 100%;
    }
    .block-for-items-acheive{
        flex-direction: column;
    }
    .item-achieve{
        width: 100%;
    }
    .block-info-profile{
        padding: 10px 0 20px 0;
    }
    .block-profile-in{
        padding: 0 3.57vw;
    }
}
@media screen and (max-width: 750px){
    .change-password input, .error-message{
        width: 80%;
    }
    .right-block-info-profile button{
        min-width:auto;
        width: fit-content;
        padding: calc(5px + 0.5vw) calc(10px + 1vw);
    }
    .right-block-info-profile{
        justify-content: flex-start;
    }
    #cancel-password-btn, #safe-password-btn, .button-info{
        min-width: auto ;
        padding: calc(9px + 0.5vw) calc(25px + 1vw);
    }
}

@media screen and (max-width: 560px) {
    .left-block-info-profile h1, .top-block-achieve h1{
        font-size: calc(9px + 1vw);
    }
    .info-from-db h4, .info h3, .right-block-info-profile button h3, #cancel-password-btn, #safe-password-btn, .button-info {
        font-size: calc(8px + 1vw);
    }
    .description-item-achieve h3, .description-item-achieve h4{
        font-size: calc(7px + 1vw);
    }
    .right-block-info-profile button:hover{
        transition: 0s ease;
    }
    .block-profile, .block-achieve{
        border-radius: 11px;
    }
    .block-profile{
        margin: 20px 0;
    }
    .right-block-info-profile button{
        border-radius: 6px;
    }
    .content{
        width: 100%;
        margin-top: 10%;
    }
    .item-achieve img{
        width: 70px;
    }
    .data-left-block-info-profile p{
        display: none;
    }
    .block-achieve, .block-profile{
        width: 90%;
    }
    .change-password input{
        font-size: calc(8px + 1vw);
        padding: 7px;
    }
    .password-control{
        font-size: calc(8px + 1vw);
    }
}