body {
    background-color: #1e2634;
    font-family: "mt-bold";
    margin: 0;
}
h2, td, th{
    color: white;
}
.scrollable-container {
    overflow-x: auto; /* Включает горизонтальную прокрутку, если таблица шире контейнера */
    width: 100%; /* Определяет ширину контейнера, чтобы он соответствовал родительскому элементу */
    max-width: 100%; /* Запрещает контейнеру быть шире, чем родительский элемент */
    margin-bottom: 20px; /* Добавляет отступ снизу для визуального разделения */
}
header{
    display:block;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #1e2634;
    z-index: 1;
}
.conteiner-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 60px;
    border-bottom: solid 3px #41516C;
    align-items: center;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    border-bottom-right-radius: 16px;
    background: linear-gradient(36deg, rgba(102, 40, 187, 1) 0%, rgba(81, 197, 169, 1) 100%);
}
.right-header img{
    height: 40px;
    width: auto;
}
.clone{
    position: static;
    height: 60px;
}
.content{
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.content-all-tests{
    padding: 1.43vw 3.57vw;
}
.block-progress{
    width: 80%;
    margin: 50px 0;
    background-color: #77CCDD;
    border-radius: 20px;
}
.block-progress-in{
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}
.block-info-progress{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}
.block-img-progress{
    border-left: solid 2px #54919D;;
    width: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20px;
}
.block-info-progress h2{
    font-size: 20px;
    margin: 0;
    font-family: 'mt-regular';
}
.block-statistics{
    width: 80%;
    background: rgba(119, 204, 221, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    margin: calc(10px + 3vw) 0;
}
.content-all-tests{
    margin-top: calc(10px + 2vw);
}
.block-statistics-in{
    padding: 1.43vw 3.57vw;
}
.top-block-statistics{
    border-bottom: 2px solid white;
    margin-bottom: 1.29vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.button-delete-data{
    display: flex;
    gap: 8px;
    align-items: center;
}
#button-select{
    background-color: #9657EE;
}
.top-block-statistics h1{
    font-size: 20px;
    color: white;
    margin-bottom: 13px;
}
.block-for-items-acheive{
    margin-bottom: calc(20px + 4vw);
}
.block-for-items-acheive:last-child{
    margin-bottom: 25px;
}
.ml-auto{
    background-color: #ff6666;
    border-radius: 11px;
    padding: calc(2px + 0.5vw) calc(25px + 1vw);
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    -webkit-tap-highlight-color: transparent;
    min-width: 195px;
    color: white;
    font-size: 17px;
    font-family: 'mt-bold';
    height: fit-content;
}
.ml-auto:hover{background-color: #E74949;}
.ml-auto:active, .btn:active{transform: scale(0.98); box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); }

.h2-name-test{
    font-size: 17px;
    color: white;
}
.p-info{
    font-size: 14px;
    color: white;
}
.result-item{
    width: 30%;
    margin-bottom: calc(8px + 1vw);
}
.block-for-result{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.a-for-button-back{
    padding-right: 40px;
}
.a-btn-add{
    padding-bottom: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Начнем анимацию с небольшого смещения вверх */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Завершим анимацию смещением вниз */
    }
}
.block-info-progress, .block-img-progress img, .top-block-statistics{
    animation: fadeIn 0.5s ease forwards;
}
.btn{
    border-radius: 11px;
    border: none;
    cursor: pointer;
    outline: inherit;
    -webkit-tap-highlight-color: transparent;
    min-width: auto;
    font-size: 16px;
}
#special{
    margin-top: 0;
}
textarea.form-control{
    height: 60vh;
}
.form-group{
    width: 49%;
    border-radius: 3px;
    background-color: white;
}
.students-list {
    height: 444px;
    overflow-y: auto;
}
.div-for-form-group{
    display: flex;
    justify-content: space-between;
}
.black{
    color: #495057;
}
@media screen and (max-width: 900px){
    .block-info-progress h2 {
        font-size:calc(8px + 1vw);
        margin-bottom: 0;
    }
    .block-img-progress{
        display: none;
    }
    .block-info-progress{
        padding: 3.5vw 3.5vw;
    }
    .block-info-progress{
        width: auto;
    }
    .block-progress-in{
        padding: 0;
    }
    .top-block-statistics h1{
        font-size: calc(9px + 1vw);
    }
    .top-block-statistics span{
        display: none;
    }
    .result-item {
        width: 45%;
    }
    .h2-name-test, .p-info{
        font-size: calc(8px + 0.5vw);
    }
    .p-info{
        margin: 0;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 750px){
    .ml-auto{
        min-width: auto;
        padding: calc(9px + 0.5vw) calc(25px + 1vw);
    }
}
@media screen and (max-width: 560px) {
    .block-progress, .block-statistics{
        border-radius: 11px;
        width: 90%;
    }
    .block-progress{
        margin: 20px 0;
    }
    .content{
        width: 100%;
        margin-top: 10%;
    }
    .ml-auto, .btn{
        font-size: calc(8px + 1vw);
    }
    .result-item {
        width: 100%;
    }
    .conteiner-header{
        height: 50px;
    }
    .right-header img{
        width: 90px;
        height: auto;
    }
    .right-header{
        padding: 11px 10px;
    }
    .clone {
        height: 0;
    }
}