<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utilities/fonts.css" />
    <link rel="stylesheet" href="utilities/navigation.css" />
    <link rel="stylesheet" href="main.css"/>
    <title>DiscreteMathemagic</title>
    <script src="utilities/navigation.js" defer></script>
</head>
<body>
<header>
    <div class="sidebar">
        <div class="block-for-logo">
            <img class="img-logo" src="images\login.png" alt="">
        </div>
        <ul class="menu">
            <li>
                <a>
                    <div class="item-list" id="item1">
                        <img class="first-item-img" src="images\learning.svg" alt="">
                        <h1>ОБУЧЕНИЕ</h1>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="item-list" id="item2">
                        <img class="second-item-img" src="images\progress.svg" alt="">
                        <h1>СТАТИСТИКА</h1>
                    </div>
                </a>
            </li>
            <li>
                <a href="profile.html">
                    <div class="item-list" id="item3">
                        <img class="four-item-img" src="images\profile.svg" alt="">
                        <h1>ПРОФИЛЬ</h1>
                    </div>
                </a>
            </li>
            <li>
                <a href="authorization.html">
                    <div class="item-list" id="item4">
                        <img class="five-item-img" src="images\settings.svg" alt="">
                        <h1>ВЫХОД</h1>
                    </div>
                </a>
            </li>           
        </ul>     
    </div>  
</header>
<section class="learning-html">
    <div class="content">
        <div class="lesson">
            <div class="block-mod">
                <div class="text-in-mod">
                    <h1>МОДУЛЬ 1</h1>
                    <h2>Модуль посвящен элементарной комбинаторике. В нем вы узнаете о том, что такое дискретные структуры и когда их можно применять. Также вы познакомитесь с самыми распространенными дискретными структурами: сочетания и перестановки</h2>
                </div>
                <div class="image-in-mod">
                    <img src="images\module.svg" alt="">
                </div>
            </div>
            <div class="block-lessons">
                <div class="item-lesson">
                    <div class="images-item-lesson" id="item1-1"></div>    
                    <div class="overlay">
                        <div>
                            <h2>Урок 1</h2>
                            <h3>Размещения с повторениями и без повторений</h3>
                            <h3 id="text-lessons-for-phone">Нажми второй раз, чтобы начать урок</h3>
                            <button id="startButton"><h2>Начать</h2></button>
                        </div>
                    </div>
                </div>
                <div class="item-lesson">
                    <div class="images-item-lesson" id="item1-2"></div>    
                    <div class="overlay">
                        <div>
                            <h2>Урок 2</h2>
                            <h3>Перестановки с повторениями и без повторений</h3>
                            <h3 id="text-lessons-for-phone">Нажми второй раз, чтобы начать урок</h3>
                            <button id="startButton"><h2>Начать</h2></button>
                        </div>
                    </div>
                </div>
                <div class="item-lesson">
                    <div class="images-item-lesson" id="item1-3"></div>    
                    <div class="overlay">
                        <div>
                            <h2>Урок 3</h2>
                            <h3>Сочетания с повторениями и без повторений</h3>
                            <h3 id="text-lessons-for-phone">Нажми второй раз, чтобы начать урок</h3>
                            <button id="startButton"><h2>Начать</h2></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lesson">
            <div class="block-mod">
                <div class="text-in-mod">
                    <h1>МОДУЛЬ 3</h1>
                    <h2>В данном модуле вы познакомитесь с базовыми определениями и свойствами графов. Узнаете, что такое граф и какие особенности он имеет. Также вы узнаете о видах графов и операциями над ними</h2>
                </div>
                <div class="image-in-mod">
                    <img src="images\module.svg" alt="">
                </div>
            </div>
            <div class="block-lessons">
                <div class="item-lesson">
                    <div class="images-item-lesson" id="item3-1"></div>    
                    <div class="overlay">
                        <div>
                            <h2>Урок 1</h2>
                            <h3>Основные понятия теории графов </h3>
                            <h3 id="text-lessons-for-phone">Нажми второй раз, чтобы начать урок</h3>
                            <button id="startButton"><h2>Начать</h2></button>
                        </div>
                    </div>
                </div>
                <div class="item-lesson">
                    <div class="images-item-lesson" id="item3-2"></div>
                    <div class="overlay">
                        <div>
                            <h2>Урок 2</h2>
                            <h3>Виды графов и операции над ними </h3>
                            <h3 id="text-lessons-for-phone">Нажми второй раз, чтобы начать урок</h3>
                            <button id="startButton"><h2>Начать</h2></button>
                        </div>
                    </div>
                </div>
                <div class="item-lesson" id="plug"><div class="images-item-lesson"></div></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>