<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <link rel="stylesheet" th:href="@{/utilities/navigation.css}" />
    <link rel="stylesheet" th:href="@{profile.css}" />
    <title>DiscreteMathemagic</title>
    <script th:src="@{/utilities/navigation.js}" defer></script>
    <script th:src="@{profile.js}" defer></script>
</head>
<body>
<header>
    <div class="sidebar">
        <div class="block-for-logo">
            <img class="img-logo" src="images\login.png" alt="">
        </div>
        <ul class="menu">
            <li>
                <a th:href="@{/main}">
                    <div class="item-list">
                        <img class="first-item-img" src="images\learning.svg" alt="">
                        <h1>ОБУЧЕНИЕ</h1>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/progress}">
                    <div class="item-list">
                        <img class="second-item-img" src="images\progress.svg" alt="">
                        <h1>СТАТИСТИКА</h1>
                    </div>
                </a>
            </li>
            <li class="active">
                <a>
                    <div class="item-list">
                        <img class="four-item-img" src="images\profile.svg" alt="">
                        <h1>ПРОФИЛЬ</h1>
                    </div>
                </a>
            </li>
            <li>
                <form name = "logoutForm" th:action="@{/logout}" method="post" >
                    <button id="loginButton" type="submit"  class="btn">
                        <div class="item-list" id="item4">
                            <img class="five-item-img" src="images\settings.svg" alt="">
                            <h1>ВЫХОД</h1>
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</header>
<section class="learning-html">
    <div class="content">
        <div class="block-profile">
            <div class="block-profile-in">
                <div class="block-info-profile">
                    <div class="left-block-info-profile">
                        <h1 data-th-text="${fullName}"></h1>
                        <div class="data-left-block-info-profile">
                            <div class="conteiner-info">
                                <div class="info">
                                    <h3>Группа</h3>
                                    <p></p>
                                    <h3>Логин</h3>
                                </div>
                                <div class="info-from-db">
                                    <h4 id="info-group" data-th-text="${groupName}"></h4>
                                    <p></p>
                                    <h4 id="info-login" data-th-text="${loginName}"></h4>
                                </div>
                            </div>
                            <button class="button-info" id="change-password-btn">Изменить пароль</button>
                        </div>
                        <div class="change-password" style="display: none;">
                            <form method="post" th:action="@{/profile/changePassword}">
                            <input type="password" id="passwordInput" name = "oldPassword" placeholder="Старый пароль">
                            <input type="password" id="passwordInput1" name="newPassword" placeholder="Новый пароль">
                            <input type="password" id="passwordInput2"  name="newPasswordConfirm" placeholder="Подтверждение нового пароля">
                            <div id="lengthErrorMessage" class="error-message"></div>
                            <div id="formatErrorMessage" class="error-message"></div>
                            <div class="button-in-change-password">
                                <button type="button" class="button-info" id="cancel-password-btn" style="display: none;">Отменить</button>
                                <button type="submit" class="button-info" id="safe-password-btn"  style="display: none;">Сохранить</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="block-img-profile">
                    <img src="images\profile-info.svg" alt="">
                </div>
            </div>
        </div>
        <div class="block-achieve">
            <div class="block-achieve-in">
                <div class="top-block-achieve">
                    <h1>Достижения</h1>
                </div>
                <div class="block-for-items-acheive">
                    <div class="item-achieve">
                        <img src="images\achieve1.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Один маленький шаг</h3>
                            <h4>За успешное решение первого теста</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve2.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Комбинаторный Пионер</h3>
                            <h4>За успешное завершение всех тестов модуля 1</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve3.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Комбинаторный Эксперт</h3>
                            <h4>За успешное завершение всех тестов модуля 2</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve4.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Исследователь Графов</h3>
                            <h4>За успешное завершение всех тестов модуля 3</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve4.1.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Мастер Графов</h3>
                            <h4>За успешное завершение всех тестов модуля 4</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve5.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Познаватель</h3>
                            <h4>За прохождение всех тестов и просмотр всех материалов на сайте</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve6.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Мудрец</h3>
                            <h4>За прохождение всех тестов с высоким процентом правильных ответов: 85% и выше</h4>
                        </div>
                    </div>
                    <div class="item-achieve">
                        <img src="images\achieve7.svg" alt="">
                        <div class="description-item-achieve">
                            <h3>Звездное восхождение</h3>
                            <h4>За попадание в рейтинг и стремление к выдающимся результатам</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>