<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <link rel="stylesheet" th:href="@{/commontests/commontest.css}"/>
    <title>Теория</title>
    <script th:src="@{/commontests/commontest.js}" defer></script>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
    </div>
</header>
<div class="clone"></div>
<form th:action="@{/tests/submitTest}" method="post" onsubmit="disableUnloadWarning()">
    <section class="sec-content">
        <div class="content">
            <div th:each="question, stat : ${questions}" class="task">
                <h1 th:text="${question.generatedText}">Question text here</h1>
                <div th:if="${question.question != null}">
                    <div th:each="image : ${question.question.images}" class="div-for-img">
                        <img th:src="@{${image.url}}" class="img-in-test" alt="картинка графа">
                    </div>
                </div>
                <div class="container-for-input-reply">
                    <input type="text" class="reply" th:name="'answers[' + ${stat.index} + '].answer'" />
                    <input type="hidden" th:name="'answers[' + ${stat.index} + '].questionId'" th:value="${question.id}" />
                </div>
            </div>
            <div class="container-for-button">
                <input type="hidden" th:name="testResultId" th:value="${questions.get(0).getTestResult().getId()}">
                <button type="submit">Завершить</button>
            </div>
        </div>
    </section>
</form>
</body>
</html>
