<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/utilities/fonts.css}" />
    <link rel="stylesheet" th:href="@{/commontests/commontest.css}"/>
    <title>Теория</title>
</head>
<body>
<header>
    <div class="conteiner-header">
        <div class="right-header">
            <img src="/images/login.png" alt="">
        </div>
    </div>
</header>
<div class="clone"></div>
<section class="sec-content">
    <div class="content">
        <div class="task">
            <h1>1. Сколько различных пятизначных чисел можно записать с помощью цифр 0,1,2,3,4, если ни одна цифра в записи числа не повторяется дважды ?</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>2. В скачках участвуют " + $"{RandomTemp2}" + " лошадей, при этом призы дают лишь трем лошадям, пришедшим первыми. Сколько различных распределений призов может быть?"</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>3. "Сколькими способами можно разместиться студентов КБ-3 из " + $"{RandomTemp3}" + " человек за столом в столовке 7го корпуса?"</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>4. Сколько существует комбинаций из букв Л Е Т О</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>5. Сколько существует перестановок длины 7 из букв Т Р А Т А Т А </h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>6. Сколько существует перестановок длины 8 из букв О Д К О Е К О Д</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>7. Сколько различных «слов» можно получить, переставляя буквы в слове: ПАРАБОЛА</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>8. Сколько различных «слов» можно получить, переставляя буквы в слове: ИНГРЕДИЕНТ</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>9. Сколько существует перестановок длины 6 из букв З А И С П Ь, если Ь нельзя ставить на первое место и после гласных</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>10. "У  Ольги Павловны " + $"{RandomTemp10}" + " одинаковых блокнота и " + $"{RandomTemp101}" + " одинаковых ручек. Каждый день в течение " + $"{Convert.ToInt32(RandomTemp10) + Convert.ToInt32(RandomTemp101)}" + " дней подряд она выдает по одному предмету студенту, который показывает лучший результат на паре. Сколькими способами это может быть сделано? "</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="task">
            <h1>11. Сколько четырехзначных чисел больше 2100 можно составить из цифр 1,2,3,4,5,0, если каждую можно выбрать только один раз?</h1>
            <div class="container-for-input-reply"><input type="text" class="reply"></div>
        </div>
        <div class="container-for-button">
            <a><button>Завершить</button></a>
        </div>
    </div>
</section>
</body>
</html>